---
import { isLoggedIn } from "../store/userStore";

import { getCollection } from "astro:content";
const blogs = await getCollection("blogs");

const user = {
  username: "GumberRakshit",
  fullname: "Rakshit Gumber",
  avatar: "/avatars_temp/avatar-2.png",
};
const writers = [
  {
    username: "GumberRakshit",
    fullname: "Rakshit Gumber",
    avatar: "/avatars_temp/avatar-1.jpg",
  },
];
---

<div id="sidebar" class="h-auto xl:flex hidden w-full flex-col">
  <div id="content" class="flex flex-col items-center space-y-2.5">
    {
      isLoggedIn.get() && (
        <div
          id="action-button"
          class="w-full bg-[var(--card-color-transparent)] rounded-xl p-2.5 backdrop-blur flex flex-col items-center"
        >
          <div
            id="user"
            class="flex flex-col p-2.5 items-center cursor-pointer"
          >
            <img
              src={user.avatar}
              alt="user"
              class="rounded-lg shadow-xl mb-2"
            />
            <h1 class="font-semibold text-2xl">@{user.username}</h1>
            <span class="font-medium text-lg text-[var(--text-color)]/50">
              {user.fullname}
            </span>
          </div>
          <button
            id="create"
            class="text-[var(--primary-color)] bg-[var(--card-color)] w-full h-12 rounded-lg cursor-pointer"
          >
            Create
          </button>
        </div>
      )
    }
    <div
      id="trending"
      class="w-full bg-[var(--card-color-transparent)] relative rounded-xl p-2.5 px-4 backdrop-blur"
    >
      <h2
        id="trending-heading"
        class="text-2xl before:content-[''] before:absolute before:left-4 before:top-3 before:w-2 before:h-7 before:bg-[var(--primary-color)] ml-5 font-semibold before:rounded-full"
      >
        Trending
      </h2>
      <ul class="mb-0.5 mt-2.5">
        {
          blogs.map((blog) => (
            <li class="text-[var(--text-color)] w-full p-2.5 hover:bg-[var(--primary-color-hover)] rounded-lg overflow-hidden hover:text-[var(--primary-color)] cursor-pointer">
              <a href={`/blog/${blog.id}`} class="h-full w-full">
                {blog.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div
      id="sugested-reads"
      class="w-full bg-[var(--card-color-transparent)] px-4 rounded-xl p-2.5 backdrop-blur"
    >
      <h2
        id="writers-heading"
        class="text-2xl before:content-[''] before:absolute before:left-4 before:top-3 before:w-2 before:h-7 before:bg-[var(--primary-color)] ml-5 font-semibold before:rounded-full"
      >
        Top Writers
      </h2>
      <ul>
        {
          writers.slice(0, 5).map((writer) => (
            <li class="text-[var(--text-color)] p-2.5 hover:bg-[var(--primary-color-hover)] rounded-lg overflow-hidden hover:text-[var(--primary-color)] cursor-pointer justify-center">
              <a href={`/profile/${writer.username}`} class="">
                <img
                  src={writer.avatar}
                  alt="top writer"
                  class="w-10 h-10 rounded-full mr-2"
                  title={writer.username}
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
<script>
  const create = document.getElementById("create") as HTMLElement;
  const signupButton = document.getElementById("signup-button") as HTMLElement;
  create.addEventListener("click", () => {
    location.href = "/create";
  });
  signupButton.addEventListener("click", () => {
    location.href = "/auth/signup";
  });
</script>
